.eventTasks-container{
    background: #F8FAFC;
    min-width: 100%;
    min-height: 577px;
}
#logo{
    height: 60px;
    width: 202px;
}
.nav{
    display: flex;
}
a.nav-link{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
#eventTasks-box{
    padding-top: 30px;
    max-width:1080px ;
    margin: 0 auto;
}